.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    
}
.card {
    border: 1px solid;
    padding: 20px;
    width: 180px;
    height: 250px;
    text-align: center;
}

h1{
    text-align: center;
}
